.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "none none redes" "none none derecho"; }
  .footer__Icono {
    grid-area: redes;
    display: flex;
    justify-content: end;
    align-items: flex-end; }
  .footer__Networks {
    width: 50px;
    height: 50px; }
  .footer__Derecho {
    color: #5a8ff1;
    grid-area: derecho;
    display: flex;
    justify-content: end;
    align-items: flex-end; }

/*LISTA DE NAVEGACION*/
.header__Boot {
  color: cyan;
  font-family: 'Righteous', cursive;
  background-color: blueviolet;
  font-size: 20px; }
  .header__Boot:hover {
    transform: scale(1.25, 1.25);
    transition: all 1s; }

/* MEDIA QUERIE DE CELULAR. 
99 SIEMPRE DEBE HABER UNA SOLA COLUMNA */
@media (min-width: 320px) and (max-width: 575px) {
  /*MODIFICO NAV*/
  .header__Boot {
    display: flex;
    justify-content: left; }
  /* MODIFICO IMG PRINCIPAL*/
  .galery__Img--major {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center; }
  /* MODIFICO INDUMENTARIA*/
  .indumentaria__Grid {
    height: 300vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "indu-1"  "indu-principal"  "indu-4" "indu-principal-2"  "indu-3"; }
  /*MODIFICO ACCESORIOS*/
  .productos__Grid {
    height: 300vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "cinco"  "dos"  "cuatro" "uno " "seis" "ocho"; }
  footer {
    grid-template-columns: 1fr;
    grid-template-areas: "redes" "derecho"; }
  .size__Maps {
    width: 300px;
    height: 300px; }
  .title__Major {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center; }
  .contacto__Grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    gap: 25px;
    margin: 16px; } }

.contacto__Maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 2/3; }

/*MEDIA QUAIRE DE TABLET*. siempre en px */
@media (min-width: 576px) and (max-width: 992px) {
  .header__Boot {
    display: flex;
    justify-content: left; }
  .galery__Img--major {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center; }
  .indumentaria__Grid {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "indu-1 indu-principal indu-4" "indu-1 indu-principal indu-4" "indu-principal-2 indu-principal indu-3"; }
  .productos__Grid {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "cuatro dos cinco" "uno dos cinco" "uno seis ocho"; }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "none none redes" "none none derecho"; } }

* {
  margin: 0px;
  /*margen externo*/
  padding: 0px;
  /* margen interno*/
  box-sizing: border-box; }

/* COLOR DE LA PAGINA*/
body {
  background-color: black; }

ul {
  list-style: none;
  justify-content: space-around; }

main {
  display: grid;
  width: 100vw;
  /*view.witch*/ }

/*TITULO DE LA PAGINA*/
h1 {
  font-family: 'Kaushan Script', cursive;
  color: #8e24f0;
  text-align: center;
  font-size: 70px; }

h2 {
  color: #5a8ff1;
  font-family: 'Righteous', cursive;
  font-size: 50px; }

a:visited {
  color: whitesmoke; }

.title {
  justify-content: center; }

/*IMAGENES DE LA PAGINA PRINCIPAL*/
.galery {
  display: flex;
  justify-content: center; }
  .galery__Img--main {
    width: 200px;
    height: 200px; }

.history {
  color: cyan;
  background-color: #fb0bfb;
  font-family: 'Righteous', cursive; }

.title__Major {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center; }

/* PAGINA CONTACTO */
.contacto__Maps {
  display: flex; }

.size__Maps {
  width: 400px;
  height: 400px;
  margin: auto; }

/*FORMULARIO DE LA PAGINA CONTACTO*/
.form {
  font-family: 'Rock Salt', cursive;
  margin: 10px;
  color: cadetblue; }

input:focus {
  font-size: 30px;
  font-family: 'Righteous', cursive; }

.carrousel__Altura {
  height: 600px; }

.nav-link {
  color: cyan; }

.active {
  color: cyan; }

.form-label {
  color: cyan; }
