.footer {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:"none none redes"
                        "none none derecho";
    &__Icono {
        grid-area:redes;
        display: flex;
        justify-content:end;
        align-items: flex-end;
    }
    &__Networks {
        width: 50px;
        height: 50px;
        &:hover{transform: scale(1.25,1.25);
            transition: all 1s;
        } 
    }
    &__Derecho {
        color:$color-pagcontacto;
        font-family: $font-principal;
        grid-area: derecho;
        display: flex;
        justify-content: end;
        align-items: flex-end;
    }
}