/* MEDIA QUERIE DE CELULAR. 
99 SIEMPRE DEBE HABER UNA SOLA COLUMNA */
@media (min-width:320px) and (max-width:575px) {

/* MODIFICO IMG PRINCIPAL*/
.galery__Img--major {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
}   


    footer {
            grid-template-columns: 1fr;
            grid-template-areas:"redes"
                                "derecho";
    }
.size__Maps {
    width: 300px;
    height: 300px;
}
}
/*MEDIA QUAIRE DE TABLET*. siempre en px */ 
@media (min-width:576px) and (max-width:992px) {

.galery__Img--major {
        width: 600px;
        height: 600px;
        display: flex;
        justify-content: center;
    }   


footer {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:"none redes none"
                        "none derecho none";
}
}