/*LISTA DE NAVEGACION*/
.header__Boot {
    list-style: none;
    color: $color-secundario;
    font-family:$font-principal;
    background-color: blueviolet;
    font-size: 20px;
    &:hover {
        transform: scale(1,1);
        transition: all 1s;
    }
}
a:visited {
    color: whitesmoke;
}

.form-label {
    color: $color-secundario;
}