/* COLORES */
$color-principal:rgb(142, 36, 240);
$color-secundario:cyan;
$color-pagcontacto: rgb(90, 143, 241);

/* LETRAS */
$font-titulo: 'Kaushan Script', cursive;
$font-principal:  'Righteous', cursive;
