@import "variables";
@import "footer";
@import "nav";
@import "mediaqueries";

*{
    margin: 0px; /*margen externo*/
    padding: 0px;/* margen interno*/
    box-sizing: border-box;
}
/* COLOR DE LA PAGINA*/
body {
    background-color: black;
}

main {
    width: 100vw; /*view.witch*/
}
/*TITULO DE LA PAGINA*/
h1 {
    font-family:$font-titulo;
    color: $color-principal;
    text-align: center;
    font-size: 70px;
}
h2 {
    color:$color-pagcontacto;
    font-family: $font-principal;
    font-size: 50px;
}


.title {
    display: flex;
    justify-content: center;
    &__major{ display: flex;
        justify-content: center;
    } 

}
/*IMAGENES DE LA PAGINA PRINCIPAL*/
.galery {
    display: flex;
    justify-content: center;
    &__Img--main {
        width: 200px;
        height: 200px;
    } 
}

.history {
    color:$color-secundario;
    background-color: $color-principal;
    font-family: 'Righteous', cursive;
}

.title__Major {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
}

/* PAGINA CONTACTO */

.contacto__Maps {
    display: flex;
    
}
.size__Maps {
    width: 400px;
    height:400px;
    margin: auto;
}
/*FORMULARIO DE LA PAGINA CONTACTO*/
.form {
    font-family: $font-principal;
    margin: 10px;
    color: $color-pagcontacto;
}

input:focus {
    font-size: 30px;
    font-family: $font-principal;
}

.carrousel__Altura {
    width: 500px;
    height: 600px;
}

